<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>verify-email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-text-center">
      <h2>Welcome to The liberated Kind Application=</h2>
      <p>
        We would greatly appreciate you to verify your email and finish filling out your profile to start making life time connections!<br><br>
        Our goal is to keep the registration short so you can spend your time mingling and finding friends. We are packed with Geo friend locators since lake can be difficult to find people, intrest like matchers and <br><br> live meet, take pic, create name and be a social friend.
        <br><br> Have fun!!!
      </p>
      <div class="ion-text-center">
      <ion-button type="submit" (click)="authService.SendVerificationMail()" expand="block">
        Resend Verification Email
      </ion-button>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
