ion-content {
  background-video: url("../../assets/images/panda-head-sm.jpg");
  background-size: cover;
  --background: transparent;
  min-height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
form{
  padding-top: 125px;
}
.section-one {


}
.googleForm{
  padding-top: 0;
}
.reg-input {
  --background: transparent !important;
  background-color: rgba(0, 0, 0, 0.0) !important;
  color: white;
}
.words-at-bottom{
  margin-top: 1.2em;
  color: white !important;
  font-size: 1.0em;
}
.input-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.logo {
  padding: 75px 30px 10px
}
.founders-video{
  padding: 100px 0 50px;
  width: 80%;
  height: auto;
}
@media only screen and (max-width: 767px) {
ion-content {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url(../../assets/images/panda-head.jpg);
  }
  form{
    padding: 50px 0 50px;
  }
  .logo{
    padding: 10px 0 0 0;
  }
  .founders-video{
    width: 100%;
    height: auto;
  }
}
