<ion-header>
  <ion-toolbar>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container-fluid">
    <div class="row" style="padding-top: 75px;">
      <div class="col-lg-6 col-sm-12 input-backdrop">
        <div class="ion-text-center logo">
          <img src="../../assets/images/logos/liberated-logo-512-white-letters.png">
          <h4 class="ion-text-center words-at-bottom text-color-white ion-padding">
            Meet like minded couples that are bound to be your new best friends & fill your fantasies
          </h4>
          <ion-button expand="block" (click)="goToRegistration()">Register</ion-button>
        </div>
        <div>
      </div>
      </div>
      <div class="col-lg-6 col-sm-12 input-backdrop">
        <video class="founders-video" controls>
          <source src="https://firebasestorage.googleapis.com/v0/b/liberated-kind.appspot.com/o/the-liberated-kind.mp4?alt=media&token=ff591c19-1d62-47bd-b364-c04a9322167a" type="video/mp4">

          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</ion-content>
