<ion-menu side="end" type="reveal" menuId="offcanvas-menu" contentId="content" class="cd-offcanvas-menu">
  <ion-content color="primary" primary>
    <ion-list color="primary" primary>
      <ion-item>
        <a class="wdac-go-back-link uk-text-lowercase wdac-text-white" (click)="goToRegistration">Quickstart</a>
      </ion-item>
      <ion-item>
        <a class="wdac-go-back-link uk-text-lowercase wdac-text-white" (click)="goToDashboard">Dashboard</a>
      </ion-item>
      <ion-item>
        <a class="wdac-go-back-link uk-text-lowercase wdac-text-white" (click)="goToOrderCards">Order Cards</a>
      </ion-item>
      <ion-item>
        <a class="wdac-go-back-link uk-text-lowercase wdac-text-white" (click)="goToOrderHistory">Order History</a>
      </ion-item>
      <ion-item>
        <a class="wdac-go-back-link uk-text-lowercase wdac-text-white" (click)="goToBillingHistory">Billing Account</a>
      </ion-item>
        <ion-item>
          <a class="wdac-go-back-link uk-text-lowercase wdac-text-white" (click)="goToSupport">Support</a>
      </ion-item>
      <ion-item>
          <a class="wdac-go-back-link uk-text-lowercase wdac-text-white" (click)="authService.SignOut()">Logout</a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
