<ion-header color="primary" primary class="ion-no-border">
  <ion-toolbar no-shadow>
    <div class="ion-padding-start ion-padding-end uk-flex uk-flex-between uk-flex-middle uk-flex-nowrap">
      <a class="logo">
        <img uk-img data-src="../../assets/images/logos/liberated-letters.png" />
      </a>
      <a class="wdac-hamburger" (click)="offcanvas.open()">
        <span class="line-1"></span>
        <span class="line-2"></span>
        <span class="line-3"></span>
      </a>
    </div>
  </ion-toolbar>
</ion-header>
