// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

$white: #FFFFFF;
$neutral: #777777;
$global-font-size: 14px;

/** Ionic CSS Variables **/
:root {

  --wdac-color-neutral: #777777;

  --wdac-trans-white-on-primary: #FEAFB3;
  --wdac-trans-black-on-white: #cccccc;

  --wdac-block: 60px;
  --wdac-block-half: 30px;
  --wdac-block-small: 40px;

  --ion-font-family: "Gilmer", sans-serif;
  --ion-statusbar-padding: 50px;
  --ion-padding: 15px;

  /** primary **/
  --ion-color-primary: #eb9abb;
  --ion-color-primary-rgb: 254, 95, 103;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e0545b;
  --ion-color-primary-tint: #eb9abb;

  /** secondary **/
  --ion-color-secondary: #974180;
  --ion-color-secondary-rgb: 16 180 251;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0e9edd;
  --ion-color-secondary-tint: #974180;

  /** tertiary **/
  --ion-color-tertiary: #5f67fe;
  --ion-color-tertiary-rgb: 95, 103, 254;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #545be0;
  --ion-color-tertiary-tint: #6f76fe;

  /** success **/
  --ion-color-success: #09D39E;
  --ion-color-success-rgb: 9, 211, 158;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #08ba8b;
  --ion-color-success-tint: #22d7a8;

  /** warning **/
  --ion-color-warning: #974180;
  --ion-color-warning-rgb: 237, 137, 36;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #d17920;
  --ion-color-warning-tint: #ef953a;

  /** danger **/
  --ion-color-danger: #eb9abb;
  --ion-color-danger-rgb: 237, 36, 36;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d12020;
  --ion-color-danger-tint: #ef3a3a;

  /** dark **/
  --ion-color-dark: #222222;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e1e1e;
  --ion-color-dark-tint: #383838;

  /** medium **/
  --ion-color-medium: #bbbbbb;
  --ion-color-medium-rgb: 187, 187, 187;
  --ion-color-medium-contrast: #222222;
  --ion-color-medium-contrast-rgb: 34, 34, 34;
  --ion-color-medium-shade: #999999;
  --ion-color-medium-tint: #f0f0f0;

  /** light **/
  --ion-color-light: #f0f0f0;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #222222;
  --ion-color-light-contrast-rgb: 34, 34, 34;
  --ion-color-light-shade: #E5E5E5;
  --ion-color-light-tint: #ffffff;
}
