.is-tile{
  ion-item {
    padding: 16px;

    h6 {
      margin-top: 1.6rem;
      margin-bottom: 1em;
      font-size: 1em;
    }

    p {
      font-weight: lighter;
      margin: 1.5em 0;
    }
  }
}

#outer
{
  width:100%;
  text-align: center;
  padding:25px;
}
.inner
{
  display: inline-block;
  padding-inline: 5px;
}
.tile-background {
  background-image: url("../../assets/images/panda-head.jpg");
  background-size: cover;
  background-position: center;
  --background: transparent;
}
