<ion-header>
<app-tool-bar></app-tool-bar>
</ion-header>

<ion-content>
  <ion-grid class="is-grid is-grid-tiles is-grid-bordered ion-no-padding">
    <ion-row>
      <ion-col size="6" class="is-tile ion-no-padding">
        <ion-item class="ion-text-center" routerLink="/message-list" lines="none" detail="false">
          <ion-label class="ion-no-margin">
            <ion-icon name="file-tray"></ion-icon>
            <h6 class="is-tile-text">
              Messages
            </h6>
            <p class="is-tile-text">
              See what your new friends want?!
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-text-center is-tile ion-no-padding">
        <ion-item class="ion-text-center" routerLink="/ledger" lines="none" detail="false">
          <ion-label class="ion-no-margin">
            <ion-icon name="card"></ion-icon>
            <h6 class="is-tile-text">
              Money
            </h6>
            <p class="is-tile-text">
              Check Your Money, Tip Your Contestants
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="ion-text-center is-tile ion-no-padding">
        <ion-item class="ion-text-center" routerLink="/friend-list" lines="none" detail="false">
          <ion-label class="ion-no-margin">
            <ion-row>
              <ion-icon name="profile"></ion-icon>

          </ion-row>
            <ion-icon name="profile"></ion-icon><br>
            \
            <h6 class="is-tile-text">
              Live Couple Encounters
            </h6>
            <p class="is-tile-text">
              Snap A pic of you meeting. Send instant friend request!
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-text-center is-tile ion-no-padding">
        <ion-item class="ion-text-center" routerLink="/grid-tiles" lines="none" detail="false">
          <ion-label class="ion-no-margin">
            <ion-icon name="heart"></ion-icon>
            <h6 class="is-tile-text">
             Friends
            </h6>
            <p class="is-tile-text">
              See who is online or near you!
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div>
    <app-footer></app-footer>
  </div>
</ion-content>
