.is-tile{
  ion-item {
    padding: 16px;

    h6 {
      margin-top: 1.6rem;
      margin-bottom: 1em;
      font-size: 1em;
    }

    p {
      font-weight: lighter;
      margin: 1em 0;
    }
  }
}
