
<ion-content class="tile-background">
  <ion-grid class="is-grid is-grid-tiles is-grid-bordered ion-no-padding">
    <ion-row>
      <ion-col size="6" class="is-tile ion-no-padding">
        <ion-item class="ion-text-center" routerLink="/about-us" lines="none" detail="false">
          <ion-label class="ion-no-margin">
            <img width="70%" src="./assets/images/logos/just-flame-sm.png">
            <h6 class="is-tile-text">
              About Us
            </h6>
            <p class="is-tile-text">
              The Liberated Kind
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
        <ion-col size="6" class="ion-text-center is-tile ion-no-padding">
          <ion-item class="ion-text-center" routerLink="/create-friend/photo" lines="none" detail="false">
            <ion-label class="ion-no-margin">
              <img class="ion-padding-top" width="100%" src="./assets/images/lots og girls-paralax.jpg">
              <h6 class="is-tile-text">
                Make a friend
              </h6>
              <p class="is-tile-text">
                Take a Pic!
              </p>
            </ion-label>
          </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="ion-text-center is-tile ion-no-padding">
        <ion-item class="ion-text-center" routerLink="/create-friend" lines="none" detail="false">
          <ion-label class="ion-no-margin icon-size">
            <fa-icon icon="home"></fa-icon>
            <h6 class="is-tile-text">
              Create Event
            </h6>
            <p class="is-tile-text">
              What cove are you in?
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-text-center is-tile ion-no-padding">
        <ion-item class="ion-text-center" routerLink="/tabs" lines="none" detail="false">
          <ion-label class="ion-no-margin">
            <ion-icon name="card"></ion-icon>
            <h6 class="is-tile-text">
              The List
            </h6>
            <p class="is-tile-text">
              Mile Marker?
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
