<ion-header>
  <app-tool-bar></app-tool-bar>
</ion-header>

<ion-content>

  <ion-list class="ion-padding">
    <ion-list-header class="ion-text-center">
      <ion-label>Create a New Friend!</ion-label>
    </ion-list-header>
    <ion-card class="ion-text-center" >
      <ion-card-header>
        <ion-card-title>Cheese</ion-card-title>
      </ion-card-header>
      <ion-card-content>


      </ion-card-content>
    </ion-card>

    <ion-card>
      <form>
      <h2 class="ion-text-center">Uploaded Freaky Image</h2>

    <ion-item lines="full" class="reg-input">
      <ion-label position="stacked">User Name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full" class="reg-input">
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full" class="reg-input" >
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="text" ></ion-input>
      <ion-icon name="password" #password size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="full" class="reg-input">
      <ion-label position="stacked">How did We Meet?!</ion-label>
      <ion-input type="text" ></ion-input>
      <ion-icon name="person" size="small" slot="end"></ion-icon>
    </ion-item>

  <ion-row>
    <ion-col>
      <ion-button type="submit" (click)="signUp(email, password)" expand="block">Register</ion-button>
    </ion-col>
  </ion-row>
</form>
    </ion-card>
  </ion-list>
</ion-content>
