<ion-header>
  <ion-toolbar>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content class="wdac-text-center wdac-container">
      <form [formGroup]="profileForm">
        <div class="row ion-text-center">
          <div class="col-12 ">
            <div class="container" *ngIf="downloadURL | async; let url">
              <figure class="cd-avatar">
                <img [src]="url" alt="Image from AngularFireStorage">
              </figure>
            <ion-input class="uk-hidden" formControlName="imageUrl" ></ion-input>
            </div>`
            <br><br>
            <ion-input type="file" (change)="showPreview($event)"></ion-input>
          </div>
        </div>
        <ion-item>
          <ion-label position="stacked" required="true">User Handle</ion-label>
          <ion-input clearInput required="true" formControlName="displayName" placeholder="Display Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" required="true">Zip Code</ion-label>
          <ion-input clearInput required="true" formControlName="zipCode" placeholder="Display Name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked" formControlName="profileType" required="true">Select Profile Type</ion-label>
          <ion-select interface="action-sheet" placeholder="Select a Type">
            <ion-select-option value="a">Couple Man and Woman</ion-select-option>
            <ion-select-option value="b">Single Female</ion-select-option>
            <ion-select-option value="c">Single Male</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" required="true">User's 1 Name</ion-label>
          <ion-input clearInput required="true" formControlName="userOneName" placeholder="Females Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" required="true">Body Type</ion-label>
          <ion-select interface="action-sheet" formControlName="user1BodyType"  placeholder="Select a Type">
            <ion-select-option value="a">Athletic</ion-select-option>
            <ion-select-option value="b">Extra Padding</ion-select-option>
            <ion-select-option value="c">Sexy AF</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">User'2 2 Name</ion-label>
          <ion-input clearInput formControlName="userTwoName"  placeholder="Males Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Body Type</ion-label>
          <ion-select interface="action-sheet" placeholder="Select a Type">
            <ion-select-option value="a">Athletic</ion-select-option>
            <ion-select-option value="b">Extra Padding</ion-select-option>
            <ion-select-option value="c">Sexy AF</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-label>Check All That Apply</ion-label>
        <ion-item>
          <ion-checkbox></ion-checkbox>
          <ion-label>Block Single Males</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox></ion-checkbox>
          <ion-label>Full Swap</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox></ion-checkbox>
          <ion-label>Soft Swap</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" required="true">Describe Yourself</ion-label>
          <ion-textarea rows="3" required="true" placeholder="Type here..."></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" required="true">Your Interested Match</ion-label>
          <ion-textarea rows="3" required="true" placeholder="Type here..."></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" required="true">Additional Information</ion-label>
          <ion-textarea rows="3" required="true" placeholder="Type here..."></ion-textarea>
        </ion-item>
        <ion-button expand="block" color="danger" (click)="save()">Create Profile</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
