<ion-header>
  <ion-toolbar>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <div class="row ion-text-center">
    <div class="col-12 ">
      <div class="container" *ngIf="downloadURL | async; let url">
        <figure class="cd-avatar">
          <img [src]="url" alt="Image from AngularFireStorage">
        </figure>

      </div>`
      <br><br>
      <ion-input type="file" (change)="showPreview($event)"></ion-input>
      <ion-button (click)="save()">Save</ion-button>
      <h2 style="color:white">File View</h2>
    </div>

  </div>
</ion-content>
