/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import '~bootstrap/scss/bootstrap';
@import 'theme/global/header';
@import 'theme/global/offcanvas';
@import 'theme/global/typography';
@import 'theme/fields/fields';
@import 'theme/components/components';
@import "liberated-kind";
.light-pink-text{
  color: #eb9abb;
}

.dark-pink-text{
  color: #a24689;
}
fa-icon{
  font-size:40px;
}
html,
body {
  height: 100%;
}
body{
  height:100%;
  background-color: rgba(0,0,0,0.5);
}

ion-content {
  background-image: url("./assets/images/panda-head.jpg");
  background-size: cover;
  --background: transparent;
  min-height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.section-one {


}
.reg-input {
  --background: transparent !important;
  background-color: rgba(0, 0, 0, 0.0) !important;
  color: white;
}
.words-at-bottom{
  margin-top: 1.2em;
  color: white !important;
  font-size: 1.0em;
}
.input-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.logo {
  padding: 75px 30px 10px
}
.founders-video{
  padding: 50px 0 50px;
  width: 80%;
  height: auto;
}
@media all and (display-mode: fullscreen) {
  .logo {
    padding: 75px 30px 10px;
    width: 80%;
  }
}
@media only screen and (max-width: 767px) {
  ion-content {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url(./assets/images/panda-head-sm.jpg);
  }

  .founders-video{
    width: 100%;
    height: auto;
  }
}
