<ion-header>
  <ion-toolbar>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  <header class="wdac-app-header">
    <p class="uk-margin-remove-bottom uk-margin-remove-top"><a class="wdac-go-back-link uk-text-lowercase wdac-text-white" routerLink="SplashScreenPage"><ion-icon name="square-outline"></ion-icon> dashboard</a></p>
    <h1 class="uk-h1 wdac-text-white uk-margin-remove-bottom uk-margin-remove-top">Support</h1>
    <p class="wdac-text-white uk-margin-small-top uk-margin-remove-bottom"><ion-searchbar></ion-searchbar></p>
  </header>
</ion-content>
